.photoContainer {
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px 300px; */
}

.photoContainer img{
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  width:  100%;
  height: 300px;
  cursor: pointer;
  box-shadow:0 10px 6px -6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media only screen and (min-width: 500px) {
  .photoContainer img {
    width: 50%;
  }
}

@media only screen and (min-width: 850px) {
  .photoContainer img {
    width: 33.33%;
  }
}